<div class="container">
    {{#each artists}}
    <div class="card">
        <img src={{this.images.[2].url}} alt="image">
        <p>{{this.name}}</p>
        <a href="/albums/{{this.id}}"><button>View Albums</button></a>
    </div>
    {{/each}}
</div>

